@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

h1 { 
  font-family: var(--font-oswald);
}

h2, h3 {
  font-family: var(--font-montserrat);
}

p { 
  font-family: var(--font-source-serif);
}

nav a {
  font-family: var(--font-montserrat);
}

th {
  font-family: var(--font-montserrat);
}

td {
  font-family: var(--font-montserrat);
}
 
input, #total-pages{
  font-family: var(--font-montserrat);
}

.title-button {
  font-family: var(--font-montserrat);
}

iframe {
  margin: 0 auto;
  display: block;
  border-style:none;
  overflow:hidden;
}

header {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

nav {
  position: fixed;
  top: 0px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.transparentNav {
  background-color: transparent;
}

.filledNav {
  background-color: black;
}

.team-member{
  text-align: center;
  justify-content: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}